* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: main;
  src: url(./Sarcolenta.ttf);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: main;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header .logo {
  width: 10rem;
  margin: 5rem 10rem;
}

header .navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

header .navegacion > a {
  width: 20%;
  text-decoration: none;
  color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

header .navegacion > a:hover {
  background-color: #c6c64b;
}

.principal img {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
  border-radius: 5rem;
  box-shadow: -0.5rem 0 1rem black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h1 {
  font-size: 5rem;
  text-shadow: 0.4rem 0.2rem 0.2rem rgb(164, 164, 164);
  margin-bottom: 3rem;
  text-align: center;
}

main .columnas {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  justify-content: center;
  gap: 3rem;
}

main .box {
  display: flex;
  align-items: center;
}

main .box .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #c6c64b;
  align-items: center;
  margin-right: 2rem;
}

main .box .info p {
  font-size: 3rem;
  padding: 2rem;
  color: white;
}

main .box > img {
  width: 100%;
  box-shadow: 0 0 1em black;
  border-radius: 4rem;
}

main .box .text {
  font-size: 2rem;
}

main .box .text-2 {
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  margin-right: 5rem;
}

main .box .text-3 {
  margin-left: 5rem;
  font-size: 2rem;
}
.formulario {
  background-color: grey;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.formulario > h1 {
  font-size: 4rem;
  padding: 3rem;
}

form {
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  margin-top: 2rem;
}

.alineacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .nombre input {
  width: 80%;
  height: 4rem;
}

form .apellidos input {
  width: 80%;
  height: 4rem;
}
form .nombre input {
  width: 80%;
}
form .pais select {
  width: 80%;
  height: 4rem;
}

form .asunto textarea {
  width: 80%;
  height: 9rem;
}

.formulario > button {
  margin: auto;
  width: 10rem;
  height: 5rem;
  background-color: rgb(149, 206, 65);
  border: none;
  color: white;
  margin-bottom: 2.5rem;
}

.cajas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: #bcbf3c;
  margin: 2rem 0 auto;
}

.cajas .caja {
  width: 80%;
  margin: auto;
  padding: 2rem;
  font-size: 2rem;
}

.cajas .caja p {
  text-align: center;
  width: 50%;
  margin: auto;
}

.cajas .caja p::first-line {
  font-size: 3rem;
  font-weight: bolder;
}

footer {
  background-color: rgb(73, 73, 73);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  margin: auto;
  padding: 1rem;
}

@media (max-width: 40rem) {
  header .navegacion {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
  }
  header .navegacion > a {
    width: 100%;
  }
  .principal img {
    width: 100%;
  }
  main .columnas {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
  }

  main .box .info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #c6c64b;
    align-items: center;
  }

  main .box .info p {
    font-size: 1.5rem;
  }

  main .box > img {
    width: 40%;
    box-shadow: 0 0 1em black;
    border-radius: 4rem;
    grid-row: 3;
  }

  main .box .text {
    font-size: 1.5rem;
  }

  main .box .text-2 {
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
  }

  main .box .text-3 {
    margin-left: 5rem;
    font-size: 1.5rem;
  }

  .cajas .caja {
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
  }

  .cajas .caja p::first-line {
    font-size: 1.5rem;
  }
  .cajas .caja p {
    text-align: center;
    width: 50%;
    margin: auto;
  }
}
